body {
    background-image: url("images/backdrop.gif");
    width: 950px;
    height: 600px;
    margin: 10px auto 10px auto;
}

.logo {
    width: 410px;
    height: 110px;
    display: block;
    margin: 30px auto 20px auto;
}

p {
    text-align: center;
    font-weight: 200;
}

article {
    margin-left: 30px;
}

ul li {
    display: inline-block;
}

figure {
    border: 1px solid wheat;
    padding: 7px 7px 0px 7px;
    background-color: lemonchiffon;
}

li {
    margin-right: -60px;
}

#row2 {
    margin-top: -10px;
}